@import "utilities/variables";

#primary-menu {
    /**
     * Removing a secondary <a> inside of a navgation's <li>
     * Not sure why wordpress is stupid like that
     */
    a[rel~="home"] {
        display:none;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $quinary-color;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: $primary-font;
    }

    li a:hover:not(.active) {
        background-color: $secondary-color;
    }

    .active {
        background-color: $secondary-color;
    }
}
