@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700|Raleway);

$primary-color: #7F3F35;
$secondary-color: #FFC0B6;
$tertiary-color: #FF7D6A;
$quaternary-color: #7F605B;
$quinary-color: #CC6454;

$heading-color: white;

$title-font: 'Dancing Script', cursive;
$primary-font: 'Raleway', sans-serif;

$content-items-width: 90%;
